.question-hightlight {
  border: 2px solid #eded33;
  border-radius: 10px;
}

.question_answered {
  border: 1px solid #2b6cb0 !important;
  background-color: #2b6cb0 !important;
  color: white !important;
}

.question_marked {
  background-color: #ffad3b !important;
  color: #fff !important; 
  border-color: #ffad3b !important;
}
